.hero17-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero17-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.hero17-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero17-text10 {
  text-align: center;
}
 
.hero17-text11 {
  text-align: center;
}
 
.hero17-text12 {
  text-align: center;
}
 
.hero17-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
 
.hero17-strip {
  height: 443px;
  align-self: flex-start;
  animation-iteration-count: 1;
}
 
.hero17-placeholder-image1 {
  width: 922px;
  height: 407px;
}
 
.hero17-placeholder-image2 {
  width: 898px;
  height: 408px;
}
 
.hero17-image1 {
  width: 683px;
  height: 401px;
  object-fit: cover;
}
 
.hero17-image2 {
  width: 742px;
  height: 403px;
  object-fit: cover;
}
 
.hero17-image3 {
  width: 659px;
  height: 400px;
  object-fit: cover;
}
 
.hero17-image4 {
  width: 743px;
  height: 405px;
  object-fit: cover;
}
 
.hero17-image5 {
  width: 902px;
  height: 402px;
  object-fit: cover;
}
 
.hero17-container2 {
  display: contents;
}
 
.hero17-fragment1 {
  display: contents;
}
 
.hero17-text15 {
  display: inline-block;
}
 
.hero17-fragment2 {
  display: contents;
}
 
.hero17-text16 {
  display: inline-block;
}
 
.hero17-fragment3 {
  display: contents;
}
 
.hero17-text17 {
  display: inline-block;
}
 
.hero17-text19 {
  color: #ff0000;
}
 
.hero17-text20 {
  color: #ff0000;
  font-style: italic;
  font-weight: 800;
}
 
.hero17-fragment4 {
  display: contents;
}
 
.hero17-text21 {
  display: inline-block;
}
 
.hero17-fragment5 {
  display: contents;
}
 
.hero17-text22 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero17-button1 {
    width: 100%;
  }
  .hero17-button2 {
    width: 100%;
  }
}
