USE [master]
GO
/****** Object:  Database [HemoData_Telco_DB]    Script Date: 12/1/2025 12:14:13 AM ******/
CREATE DATABASE [HemoData_Telco_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HemoData_Telco_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HemoData_Telco_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HemoData_Telco_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HemoData_Telco_DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HemoData_Telco_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HemoData_Telco_DB]
GO
/****** Object:  Schema [telco]    Script Date: 12/1/2025 12:14:14 AM ******/
CREATE SCHEMA [telco]
GO
/****** Object:  Table [telco].[dim_customer]    Script Date: 12/1/2025 12:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [telco].[dim_customer](
	[customer_dim_id] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [varchar](50) NULL,
	[gender] [varchar](20) NULL,
	[senior_citizen] [bit] NULL,
	[partner] [bit] NULL,
	[dependents] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_dim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [telco].[dim_service]    Script Date: 12/1/2025 12:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [telco].[dim_service](
	[service_dim_id] [int] IDENTITY(1,1) NOT NULL,
	[phone_service] [bit] NULL,
	[multiple_lines] [varchar](50) NULL,
	[internet_service] [varchar](50) NULL,
	[online_security] [varchar](50) NULL,
	[online_backup] [varchar](50) NULL,
	[device_protection] [varchar](50) NULL,
	[tech_support] [varchar](50) NULL,
	[streaming_tv] [varchar](50) NULL,
	[streaming_movies] [varchar](50) NULL,
	[monthly_charges] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[service_dim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [telco].[fact_subscription]    Script Date: 12/1/2025 12:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [telco].[fact_subscription](
	[fact_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_dim_id] [int] NULL,
	[service_dim_id] [int] NULL,
	[tenure] [int] NULL,
	[contract] [varchar](50) NULL,
	[paperless_billing] [bit] NULL,
	[payment_method] [varchar](100) NULL,
	[total_charges] [decimal](12, 2) NULL,
	[churn] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[fact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [telco].[fact_subscription]  WITH CHECK ADD FOREIGN KEY([customer_dim_id])
REFERENCES [telco].[dim_customer] ([customer_dim_id])
GO
ALTER TABLE [telco].[fact_subscription]  WITH CHECK ADD FOREIGN KEY([service_dim_id])
REFERENCES [telco].[dim_service] ([service_dim_id])
GO
USE [master]
GO
