.hero17-wrapper {
  display: contents;
}
 
.hero17-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero17-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.hero17-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero17-text10 {
  text-align: center;
}
 
.hero17-text11 {
  text-align: center;
}
 
.hero17-text12 {
  text-align: center;
}
 
.hero17-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
 
.hero17-strip {
  height: 443px;
  align-self: flex-start;
  animation-iteration-count: 1;
}
 
.hero17-placeholder-image1 {
  width: 922px;
  height: 407px;
}
 
.hero17-placeholder-image2 {
  width: 898px;
  height: 408px;
}
 
.hero17-image1 {
  width: 683px;
  height: 401px;
  object-fit: cover;
}
 
.hero17-image2 {
  width: 742px;
  height: 403px;
  object-fit: cover;
}
 
.hero17-image3 {
  width: 659px;
  height: 400px;
  object-fit: cover;
}
 
.hero17-image4 {
  width: 743px;
  height: 405px;
  object-fit: cover;
}
 
.hero17-image5 {
  width: 902px;
  height: 402px;
  object-fit: cover;
}
 
.hero17-container2 {
  display: contents;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-text16 {
  color: #ff0000;
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero17-button1 {
    width: 100%;
  }
  .hero17-button2 {
    width: 100%;
  }
}

.contact10-wrapper {
  display: contents;
}
 
.contact10-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact10-max-width {
  align-self: center;
}
 
.contact10-content1 {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
}
 
.contact10-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact10-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact10-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact10-image1 {
  object-fit: cover;
}
 
.contact10-text12 {
  text-align: center;
}
 
.contact10-container3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact10-image2 {
  object-fit: cover;
}
 
.contact10-text14 {
  text-align: center;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact10-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact10-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .contact10-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .contact10-image1 {
    width: 100%;
  }
  .contact10-image2 {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-text16 {
  color: #ff0000;
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
